body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.container {
  width: 22rem;
  height: responsive;
  margin-left: 100px;
  margin-top: 30px;
  background-color: #0273a9;
  border-radius: 10px;
  padding-bottom: 25px;
}

.units {
  position: relative;
  left: -11px;
  font-size: 13px;
  top: -35px;
}

.units .active {
  color: #ffffff;
}

h1 {
  padding: 25px 0 0 0;
  margin-left: 30px;
}

.currentTemperature {
  font-size: 65px;
  font-weight: lighter;
}

.iconCurrentDay {
  width: 110px;
  margin-top: -15px;
  margin-left: -5px;
}

.city {
  position: relative;
  top: -25px;
  font-size: 16px;
  color: #ffffff;
  margin-left: 30px;
  font-weight: lighter;
}
.description {
  position: relative;
  top: -30px;
  font-size: 14px;
  color: #ffffff;
  margin-left: 30px;
  font-weight: lighter;
}

.description:first-letter {
  text-transform: capitalize;
}

.humidity,
.wind {
  font-size: 11px;
  color: #ffffff;
  position: relative;
  top: -25px;
  list-style: none;
  margin-left: -12px;
}
.currentDay {
  font-size: 14px;
  margin-left: 40px;
  margin-bottom: -30px;
  margin-top: -20px;
}

.dayMaxTemp {
  font-size: 14px;
  margin-left: 25px;
  margin-bottom: -30px;
  font-weight: bold;
}
.dayMinTemp {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: -30px;
}
.iconHours {
  width: 43px;
}
.hours {
  font-size: 14px;
  margin-left: 40px;
}
.tempHoursMax {
  font-size: 14px;
  font-weight: bold;
  margin-left: 25px;
}
.tempHoursMin {
  font-size: 14px;
  margin-left: 10px;
}

.form-control {
  background-color: #ec6f4c;
  border-color: transparent;
  box-shadow: 0 1px 1px #ec6e4c;
  margin-left: 25px;
  margin-top: 15px;
}
.button {
  background: transparent;
  border: transparent;
  margin-top: 20px;
}
.fa-search {
  color: #ec6e4c;
  margin-left: 5px;
}

.fa-map-marker-alt {
  color: #ec6e4c;
  margin-left: -10px;
}

.openSource {
  font-size: 10px;
  margin-left: 105px;
  color: #ec6e4c;
}
