body {
  font-family: "Roboto", sans-serif;
  color: #919db2;
}

.container {
  width: 35rem;
  height: responsive;
  margin-left: 100px;
  margin-top: 30px;
  background-color: #dfe9fb;
  border-radius: 20px;
  padding-bottom: 25px;
  box-shadow: 3px 6px 4px #b6c3da;
}

.units {
  position: relative;
  left: -11px;
  font-size: 13px;
  top: -35px;
}

.units .active {
  color: #919db2;
}

h1 {
  padding: 25px 0 0 0;
  margin-left: 30px;
}

.currentTemperature {
  font-size: 65px;
  font-weight: lighter;
}

.iconCurrentDay {
  width: 110px;
}
.iconCurrentBox {
  background-color: #d7e2f0;
  box-shadow: 2px 4px 4px #bfcbdd;
  border-color: transparent;
  border-style: solid;
  padding: 10px;
  border-radius: 50px;
}
.city {
  position: relative;
  top: -25px;
  font-size: 16px;
  margin-left: 30px;
  font-weight: lighter;
}
.description {
  position: relative;
  top: -30px;
  font-size: 14px;
  margin-left: 30px;
  font-weight: lighter;
}

.description:first-letter {
  text-transform: capitalize;
}

.humidity,
.wind {
  font-size: 11px;
  position: relative;
  top: -25px;
  list-style: none;
  margin-left: -12px;
}
.currentDay {
  font-size: 14px;
}

ul {
  list-style: none;
  font-size: 12px;
}
.hours {
  margin-left: 7px;
}
.box-icon {
  background-color: #d7e2f0;
  box-shadow: 2px 4px 4px #bfcbdd;
  border-radius: 50px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: -8px;
  border-color: transparent;
  border-style: solid;
}
.iconHours {
  width: 50px;
}
.tempHoursMax {
  font-weight: bold;
}
.tempHoursMin {
  font-weight: normal;
  margin-left: 5px;
}
.form-control {
  background-color: #d7e2f0;
  box-shadow: 2px 4px 4px #bfcbdd;
  border-color: #e8f2ff9d;
  border-style: solid;
  border-radius: 20px;
  margin-left: 25px;
  margin-top: 15px;
}
.button {
  background-color: #d7e2f0;
  border-color: transparent;
  border-radius: 20px;
  box-shadow: 2px 3px 4px #bfcbdd;
  margin-left: 25px;
  margin-top: 15px;
}
.button:hover {
  background-color: #ffffff;
}
.fa-search {
  color: #919db2;
  font-size: 15px;
}

.fa-map-marker-alt {
  color: #919db2;
  font-size: 15px;
}

.openSource {
  font-size: 10px;
  margin-left: 105px;
  color: #ec6e4c;
}
